* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background: #ffbf69;
  height: 80px;
  width: 100%;
}

label.logo {
  color: rgb(0, 0, 0);
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}


nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: rgb(0, 0, 0);
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover, a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked~ul {
    left: 0;
  }
}

header {
  height: 400px;
  background-color: #ffbf69;
}

.header-title {
  height: 100%;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-title h1 {
  font-size: 120px;
  color: white;
}

.header-title h2 {
  font-size: 20px;
  color: white;
  margin-left: 5px;
}

.header-left {
  background: url(images/background.png) no-repeat;
  background-size: contain;
  height: 100%;
  background-position: right center;
}

section {
  padding: 80px 100px;
  background-size: cover;
}

.section-about {
  text-align: center;
}

.section-about p {
  margin-top: 20px;
}

.section-product {
  background-color: #cbf3f0;
  text-align: center;
}

.product-list {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-item {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.product-item button {
  width: 80%;
  background-color: #ffbf69;
  border: none;
  height: 30px;
}

.about-row {
  align-items: center;
  margin-top: 20px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about {
  height: 500px;
  padding: 0px 50px;
}
.about-info {
  background: url(images/bg-grid.png) no-repeat;
  background-size: contain;
  height: 100%;
  background-position: center 100px;
}


footer {
  background: #333333;
  height: 80px;
  width: 100%;
}

footer ul {
  display: flex;
  margin-right: 20px;
  justify-content: space-around;
}


footer ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

footer ul li a {
  color: rgb(222, 222, 222);
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
